html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body {
    font-family: Verdana, sans-serif; 
    margin:0;
    padding: 0;
}

#gif {
    cursor: pointer;
}

.gif {
    padding: 0 0.4rem;
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 12rem;
    height: 3rem;
    border-radius: 5rem;
    background-color: #0943b8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gif2 {
    position: fixed;
    bottom: 2%;
    right: 2%;
    height: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #0943b8;
}

#gif .img {
    padding: 0.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

#gif .img img {
    width: 100%;
    height: 100%;
}

.gif-btn p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 1px;
}

.wrapper {
    position: relative;
}

.sideBar {
    display: none;
}

.header {
    min-width: 100%;
    min-height: 100vh;
    background-color: rgb(3, 3, 66);
    color: #fff;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5rem;
    position: relative;
    background-image: url(img/hero-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.head-title .title {
    display: flex;
}

.logo {
    width: 25px;
    height: 25px;
    object-fit: cover;
    margin-right: 0.5rem;
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu i {
    cursor: pointer;
}

.head-body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.head-body h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    width: 95%;
}

.head-body h3 {
    margin-bottom: 2rem;
    width: 95%;
}

.head-body h2,
.head-body h3 {
    line-height: 2rem;
}

.head-body div {
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: rgb(8, 8, 180);
    cursor: pointer;
}

/* PRICES */
.prices {
    width: 100%;
    height: 50vh;
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: #fff;
}

.prices a {
    padding-right: 2%;
    display: flex;
    justify-content: flex-end;
    color: rgba(34, 34, 240, 0.973);
    margin-left: 2rem;
    text-decoration: none;
    font-size: 1rem;
}

.prices .crypto {
    display: flex;
}

.prices .crypto img {
    margin-right: 1rem;
}

.prices .title {
    display: flex;
    flex-direction: column;
}

.prices .title h3 {
    margin-bottom: 0.5rem;
}

.prices .rate {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.prices .amount {
    margin-bottom: 0.5rem;
}

.prices .percent {
    font-size: 0.8rem;
    color: red;
}

.prices .btn {
    display: none;
}

.bitcoin {
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.ethereum {
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.bitcoin-cash {
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    box-shadow: #555;
}

.bitcoin-cash .percent {
    color: green;
}

/* wallet */
.wallet {
    padding: 2rem;
}

.wallet-icon {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.wallet-icon img {
    margin-right: 1.5rem;

}

.wallet-icon p {
    color:rgba(34, 34, 240, 0.973);
}

.wallet-head h1 {
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.create-wallet {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.create-wallet div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgb(34, 34, 240);
    color: #fff;
    cursor: pointer;
}

.create-wallet a {
    color: rgba(34, 34, 240, 0.973);
    cursor: pointer;
}

.wallet-body {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wallet-buy,
.wallet-control,
.wallet-earn,
.wallet-borrow,
.wallet-swap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wallets ,
.wallet-hidden {
    position: relative;
    display: none;
}

.wallet-visible {
    display: block;
}

.wallet-body img {
    width: 20rem;
    height: 20rem;
    align-self: center;
    object-fit: cover;
}

.nav-swap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arrow {
    display: flex;
}

.arrow .wallet-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    color: rgba(34, 34, 240, 0.973);
    border: 1px solid rgba(34, 34, 240, 0.973);
    border-radius: 0.5rem;
    cursor: pointer;
}

.arrow .wallet-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    color: rgba(34, 34, 240, 0.973);
    border: 1px solid rgba(34, 34, 240, 0.973);
    border-radius: 0.5rem;
    cursor: pointer;
}

/* exchange */
.exchange {
    padding: 2rem;
}

.exchange-icon {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.exchange-icon img {
    margin-right: 1.5rem;
}

.exchange-icon p {
    color:rgba(75, 180, 75, 0.952);
}

.exchange-head h1 {
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.trade-now {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.trade-now div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgb(75, 180, 75);
    color: #fff;
    cursor: pointer;
}

.trade-now a {
    color: rgba(75, 180, 75, 0.952);
    cursor: pointer;
}

.exchange-body {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exchange-deposit,
.exchange-engine,
.exchange-live-chat,
.exchange-api {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exchanges ,
.exchange-hidden {
    position: relative;
    display: none;
}

.exchange-visible {
    display: block;
}

.exchange-body img {
    width: 20rem;
    height: 20rem;
    align-self: center;
    object-fit: cover;
}

.exchange-body h1 {
    margin: 0.5rem 0;
}

.exchange-body p {
    font-size: 0.9rem;
}


.arrow .exchange-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    color: rgba(75, 180, 75, 0.952);;
    border: 1px solid rgba(75, 180, 75, 0.952);;
    border-radius: 0.5rem;
    cursor: pointer;
}

.arrow .exchange-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    color: rgba(75, 180, 75, 0.952);;
    border: 1px solid rgba(75, 180, 75, 0.952);;
    border-radius: 0.5rem;
    cursor: pointer;
}


/* explorer */
.explorer {
    padding: 2rem;
}

.explorer-icon {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}

.explorer-icon img {
    margin-right: 1.5rem;
}

.explorer-icon p {
    color:rgba(107, 7, 107, 0.911);
}

.explorer-head h1 {
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.view-data {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.view-data div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 12rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgba(107, 7, 107);
    color: #fff;
    cursor: pointer;
}

.explorer-body {
    max-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-explore,
.explore-data,
.explore-charts,
.explore-crypto-prices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explores ,
.explore-hidden {
    position: relative;
    display: none;
}

.explore-visible {
    display: block;
}

.explorer-body img {
    width: 20rem;
    height: 20rem;
    align-self: center;
    object-fit: cover;
}



.explorer-body h1 {
    margin: 0.5rem 0;
}

.explorer-body p {
    font-size: 0.9rem;
}

.arrow .explore-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    color: rgb(235, 88, 235);
    border: 1px solid rgb(235, 88, 235);
    border-radius: 0.5rem;
    cursor: pointer;
}

.arrow .explore-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    color: rgb(235, 88, 235);
    border: 1px solid rgb(235, 88, 235);
    border-radius: 0.5rem;
    cursor: pointer;
}


/* common rules */

.buy-info {
    width: 400px;
    height: 80px;
    text-align: center;
}

.buy-info h1 {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.buy-info p {
    font-size: 0.9rem;
}

.indicator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.indicator .indicator-a {
    width: 1.5rem;
    height: 0.3rem;
    background-color: rgb(247, 178, 247);
    border-radius: 2rem;
}
.indicator .indicator-b {
    margin-left: 1rem;
    width: 1.5rem;
    height: 0.3rem;
    background-color: rgb(247, 178, 247);
    border-radius: 2rem;
}
.indicator .indicator-c {
    margin-left: 1rem;
    width: 1.5rem;
    height: 0.3rem;
    background-color: rgb(247, 178, 247);
    border-radius: 2rem;
}
.indicator .indicator-d {
    margin-left: 1rem;
    width: 1.5rem;
    height: 0.3rem;
    background-color: rgb(247, 178, 247);
    border-radius: 2rem;
}
.indicator .indicator-e {
    margin-left: 1rem;
    width: 1.5rem;
    height: 0.3rem;
    background-color: rgb(247, 178, 247);
    border-radius: 2rem;
}

/* end of common rules */

/* get started */

.get-started {
    background-color: rgb(3, 3, 66);
    color: #fff;
    background-image: url(img/hero-gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.get-started h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 2.5rem;
    margin-bottom: 1rem;
}

.get-started .btn {
    width: 20rem;
    height: 3rem;
    border-radius: 2rem;
    margin: 0 auto;
    background-color: rgb(8, 8, 180);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-started .body {
    object-fit: cover;
}
.get-started img {
    width: 25rem;
    height: 15rem;
    margin: 1rem auto;
    display: flex;
    align-self: flex-end;
}

/* footer */
.footer {
    padding: 3rem 2rem;
}

.footer h1 {
    margin-bottom: 1.5rem;
}

.social {
    display: flex;
    /*flex-direction: column;*/
    justify-content: space-between;
}

.social img {
    margin-right: 1rem;
}

.twitter,
.instagram,
.medium {
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.footer .links {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}

.footer .links h2 {
    margin-bottom: 2rem;
}

.footer .links ul li {
    margin-bottom: 1.5rem;
    font-weight: 100;
    
}

.footer .links ul li a {
    text-decoration: none;
    color: #555;
    font-weight: lighter;
}

.footer .links span {
    background-color: blue;
    color: #fff;
    border-radius: 5px;
    font-size: 0.6rem;
    padding: 5px;
}

.a,
.b {
    display: flex;
    margin-bottom: 1.5rem;
}

.a i,
.b i {
    margin-right: 1rem;
}

.a select {
    border: none;
}

.c img {
    width: 8.5rem;
    height: 3rem;
    margin: 2rem 0;
}


/* MEDIA QUERRY */
@media (max-width: 769px) {
    .menu i {
        display: block;
    }
    
    .menu .nav,
    .menu .btn,
    .menu input {
        display: none;
    }

    .gif,
    .gif2 {
        z-index: 2;
    }

    .head-title {
        padding-top: 1rem;
        padding-bottom: 2rem;
        position: sticky;
        top: 0%;
        background-color: rgb(3, 3, 66);
    }

    .menu input {
        padding: 1rem;
        height: 1.5rem;
        border: 2px solid #555;
        border-radius: 2rem;
        outline: none;
        background-color: rgb(3, 3, 66);
        color: #ddd;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }

    .menu, 
    span {
        color: grey;
    }

    /* .menu i,
    .btn {
        display: none;
    } */

    .nav .ul {
        display: flex;
        list-style: none;
        margin-right: 1rem;
    }

    .nav ul li {
        font-size: 1rem;
        margin-right: 1rem;
    }

    .prices {
        position: absolute;
        top: 31rem;
    }

    
    .wallet {
        margin-top: 20rem;
    }
}

@media (min-width: 769px) {

    .head-title {
        padding-top: 2rem;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .logo {
        width: 20px;
        height: 20px;
    }

    .menu i {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        font-size: 1rem;
    }
    
    .menu .nav .ul {
        display: flex;
    }

    .menu .nav .ul li {
        list-style: none;
        margin-right: 1rem;
    }

    .menu input {
        background-color: #333;
        width: 12rem;
        height: 2rem;
        padding: 0.5rem 0.5rem;
        outline: none;
        border-radius: 0.5rem;
    }

    .menu input::placeholder {
        color: #fff;
        font-size: 0.8rem;
    }

    .menu .btn {
        display: none;
    }

    .prices a {
        display: none;
    }

    .prices .btn {
        display: flex;
    }

    .prices .btn .buy {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 2rem;
        border: 1px solid red;
        border-radius: 0.5rem;
    }
    
    .prices .btn .trade {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 2rem;
        border: 1px solid red;
        border-radius: 0.5rem;
        margin-left: 1rem;
    }

}

@media (min-width: 1000px) {

    .menu .btn {
        display: flex;
        justify-content: space-between;
        margin-left: 1rem;
    }

    .menu .btn div {
       margin-right: 1rem;
       width: 5rem;
       height: 2rem;
       display: flex;
       justify-content: center;
       align-items: center;
       border: 1px solid #fff;
       border-radius: 1rem;
    }
}